# Zadanie: Časť I

Použi funkciu groupby na nájdenie celkového počtu predaných kusov na daný produkt zaznamenaných v csvsample.csv.

In [3]:
import pandas as pd
df = pd.read_csv("csvsample.csv")
sales = df[df["Type"] == "Sale"]
total_sale = sales.groupby("Item")["Quantity"].sum()
total_sale

Item
Apple    185
Bread    115
Egg      160
Milk     160
Name: Quantity, dtype: int64

In [5]:
df = pd.read_csv("csvsample.csv")
sales = df[df["Type"] == "Sale"]
sorted = sales.sort_values("Item")
sorted

          Date  Type   Item  Quantity  Unit Price ($)                    Notes
10  2025-11-04  Sale  Apple        50            0.60                      NaN
13  2025-11-05  Sale  Apple        60            0.60                      NaN
19  2025-11-07  Sale  Apple        75            0.60                      NaN
1   2025-11-01  Sale  Bread        25            4.99       Morning rush sales
4   2025-11-02  Sale  Bread        30            4.99                      NaN
8   2025-11-03  Sale  Bread        20            4.99                      NaN
15  2025-11-06  Sale  Bread        40            4.99                      NaN
5   2025-11-02  Sale    Egg        40            0.40  Sold by unit, not dozen
11  2025-11-04  Sale    Egg        55            0.40                      NaN
16  2025-11-06  Sale    Egg        65            0.40                      NaN
2   2025-11-01  Sale   Milk        30            3.99                      NaN
7   2025-11-03  Sale   Milk        35            3.99                      NaN
12  2025-11-05  Sale   Milk        45            3.99        Afternoon traffic
18  2025-11-07  Sale   Milk        50            3.99       End-of-week demand