# Na hodinu

## ⭐ Úloha 01
Prečítajte poskytnutý textový súbor a vytlačte len tretí riadok.

In [4]:
with open("textsample.txt", "r") as file:
    content = file.read()
    lines = content.splitlines()
    print(lines[2])

Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.

## ⭐ Úloha 02
Prečítajte poskytnutý súbor CSV a vytlačte prvú hodnotu v každom riadku.

In [5]:
import csv

with open("csvsample.csv", "r") as file:
    reader = csv.DictReader(file)
    
    for row in reader:
        print(row["Date"])

2025-11-01
2025-11-01
2025-11-01
2025-11-02
2025-11-02
2025-11-02
2025-11-03
2025-11-03
2025-11-03
2025-11-04
2025-11-04
2025-11-04
2025-11-05
2025-11-05
2025-11-05
2025-11-06
2025-11-06
2025-11-06
2025-11-07
2025-11-07

## ⭐ Úloha 03
Prečítajte poskytnutý súbor CSV pomocou `pandas`. Potom pridajte stĺpec `discounted` (zľavnená cena), ktorý prevezme ceny zo stĺpca `price` a zľavní ich všetky o 20%.

In [6]:
import pandas as pd

df = pd.read_csv("csvsample.csv")
df["Discounte"] = df["Unit Price ($)"] * 0.8
df

,Date,Type,Item,Quantity,Unit Price ($),Notes,Discounte
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery,2.000
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales,3.992
2,2025-11-01,Sale,Milk,30,3.99,NaN,3.192
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment,2.240
4,2025-11-02,Sale,Bread,30,4.99,NaN,3.992
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen",0.320
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill,0.240
7,2025-11-03,Sale,Milk,35,3.99,NaN,3.192
8,2025-11-03,Sale,Bread,20,4.99,NaN,3.992
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order,0.200
10,2025-11-04,Sale,Apple,50,0.60,NaN,0.480
11,2025-11-04,Sale,Egg,55,0.40,NaN,0.320
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic,3.192
13,2025-11-05,Sale,Apple,60,0.60,NaN,0.480
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply,2.000
15,2025-11-06,Sale,Bread,40,4.99,NaN,3.992
16,2025-11-06,Sale,Egg,65,0.40,NaN,0.320
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch,0.240
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand,3.192
19,2025-11-07,Sale,Apple,75,0.60,NaN,0.480

## ⭐ Úloha 04
Prečítajte poskytnutý súbor CSV pomocou `pandas`. Potom vypočítajte celkový príjem (Množstvo × Jednotková cena) pre všetky transakcie typu "Sale" (Predaj). Vytlačte výsledok.

In [7]:
df = pd.read_csv("csvsample.csv")
sale = df[df["Type"] == "Sale"]
total_quantity = df["Quantity"].sum()
total_unit_price = df["Unit Price ($)"].sum()
celkovy_prijem = total_quantity * total_unit_price
df
print(celkovy_prijem)
print(total_quantity)
print(total_unit_price)

75636.3
1590
47.57

In [8]:
df = pd.read_csv("csvsample.csv")
df["Celkovy_prijem"] = df["Quantity"] * df["Unit Price ($)"]
sale = df[df["Type"] == "Sale"]
sale

,Date,Type,Item,Quantity,Unit Price ($),Notes,Celkovy_prijem
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales,124.75
2,2025-11-01,Sale,Milk,30,3.99,NaN,119.70
4,2025-11-02,Sale,Bread,30,4.99,NaN,149.70
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen",16.00
7,2025-11-03,Sale,Milk,35,3.99,NaN,139.65
8,2025-11-03,Sale,Bread,20,4.99,NaN,99.80
10,2025-11-04,Sale,Apple,50,0.60,NaN,30.00
11,2025-11-04,Sale,Egg,55,0.40,NaN,22.00
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic,179.55
13,2025-11-05,Sale,Apple,60,0.60,NaN,36.00
15,2025-11-06,Sale,Bread,40,4.99,NaN,199.60
16,2025-11-06,Sale,Egg,65,0.40,NaN,26.00
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand,199.50
19,2025-11-07,Sale,Apple,75,0.60,NaN,45.00

## ⭐ Úloha 05
Prečítajte súbor CSV a nájdite všetky položky, ktorých predajná cena je viac ako dvojnásobok nákupnej ceny. Vytlačte názvy položiek a percento prirážky.

## ⭐ Úloha 06
Prečítajte súbor CSV a zistite, ktorý dátum mal najvyšší celkový predaný objem položiek. Vytlačte dátum a celkové množstvo.

## ⭐ Úloha 07
Prečítajte poskytnutý súbor CSV pomocou pandas. Filtrujte, aby sa zobrazili iba transakcie, kde je Množstvo (Quantity) väčšie ako 100. Vytlačte výsledný dataframe.

## ⭐ Úloha 08
Prečítajte poskytnutý súbor CSV a vypočítajte priemernú jednotkovú cenu pre každú jedinečnú Položku (Item). Vytlačte výsledky zobrazujúce názov Položky a jej priemernú cenu.

## ⭐ Úloha 09
Prečítajte poskytnutý súbor CSV a navrhnite, ktorých položiek by mal obchod nakupovať viac/menej. Odôvodnite svoje zdôvodnenie.

## ⭐ Úloha 10
Prečítajte textový súbor a vytlačte len riadky, ktoré sú dlhšie ako 30 znakov.

## ⭐ Úloha 11
Prečítajte textový súbor a nájdite najdlhší riadok. Vytlačte číslo riadku, obsah riadku a jeho dĺžku (počet znakov).