# Na hodinu

## ⭐ Úloha 01
Prečítajte poskytnutý textový súbor a vytlačte len tretí riadok.

In [4]:
with open("textsample.txt", "r") as file:
    content = file.read()
    lines = content.splitlines()
    print(lines[2])

Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.

## ⭐ Úloha 02
Prečítajte poskytnutý súbor CSV a vytlačte prvú hodnotu v každom riadku.

In [3]:
import csv

with open("csvsample.csv", "r") as file:
    reader = csv.DictReader(file)
    
    for row in reader:
        print(row["Date"])

2025-11-01
2025-11-01
2025-11-01
2025-11-02
2025-11-02
2025-11-02
2025-11-03
2025-11-03
2025-11-03
2025-11-04
2025-11-04
2025-11-04
2025-11-05
2025-11-05
2025-11-05
2025-11-06
2025-11-06
2025-11-06
2025-11-07
2025-11-07

## ⭐ Úloha 03
Prečítajte poskytnutý súbor CSV pomocou `pandas`. Potom pridajte stĺpec `discounted` (zľavnená cena), ktorý prevezme ceny zo stĺpca `price` a zľavní ich všetky o 20%.

In [1]:
import pandas as pd

df = pd.read_csv("csvsample.csv")
df["Discounte"] = df["Unit Price ($)"] * 0.8
df

,Date,Type,Item,Quantity,Unit Price ($),Notes,Discounte
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery,2.000
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales,3.992
2,2025-11-01,Sale,Milk,30,3.99,NaN,3.192
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment,2.240
4,2025-11-02,Sale,Bread,30,4.99,NaN,3.992
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen",0.320
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill,0.240
7,2025-11-03,Sale,Milk,35,3.99,NaN,3.192
8,2025-11-03,Sale,Bread,20,4.99,NaN,3.992
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order,0.200
10,2025-11-04,Sale,Apple,50,0.60,NaN,0.480
11,2025-11-04,Sale,Egg,55,0.40,NaN,0.320
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic,3.192
13,2025-11-05,Sale,Apple,60,0.60,NaN,0.480
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply,2.000
15,2025-11-06,Sale,Bread,40,4.99,NaN,3.992
16,2025-11-06,Sale,Egg,65,0.40,NaN,0.320
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch,0.240
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand,3.192
19,2025-11-07,Sale,Apple,75,0.60,NaN,0.480

## ⭐ Úloha 04
Prečítajte poskytnutý súbor CSV pomocou `pandas`. Potom vypočítajte celkový príjem (Množstvo × Jednotková cena) pre všetky transakcie typu "Sale" (Predaj). Vytlačte výsledok.

In [9]:
df = pd.read_csv("csvsample.csv")
df["Celkovy_prijem"] = df["Quantity"] * df["Unit Price ($)"]
sale = df[df["Type"] == "Sale"]
sale

,Date,Type,Item,Quantity,Unit Price ($),Notes,Celkovy_prijem
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales,124.75
2,2025-11-01,Sale,Milk,30,3.99,NaN,119.70
4,2025-11-02,Sale,Bread,30,4.99,NaN,149.70
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen",16.00
7,2025-11-03,Sale,Milk,35,3.99,NaN,139.65
8,2025-11-03,Sale,Bread,20,4.99,NaN,99.80
10,2025-11-04,Sale,Apple,50,0.60,NaN,30.00
11,2025-11-04,Sale,Egg,55,0.40,NaN,22.00
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic,179.55
13,2025-11-05,Sale,Apple,60,0.60,NaN,36.00
15,2025-11-06,Sale,Bread,40,4.99,NaN,199.60
16,2025-11-06,Sale,Egg,65,0.40,NaN,26.00
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand,199.50
19,2025-11-07,Sale,Apple,75,0.60,NaN,45.00

In [10]:
total_sales = sale["Celkovy_prijem"].sum()
print("Celkovy prijem zo vsetkych predajov je:", total_sales)

Celkovy prijem zo vsetkych predajov je: 1387.25

## ⭐ Úloha 05
Prečítajte súbor CSV a nájdite všetky položky, ktorých predajná cena je viac ako dvojnásobok nákupnej ceny. Vytlačte názvy položiek a percento prirážky.

In [43]:
df = pd.read_csv("csvsample.csv")
price_sale = df[df["Type"] == "Sale"] 
price_purchase = df[df["Type"] == "Purchase"]

In [42]:
merged = pd.merge(price_sale, price_purchase, on="Item", suffixes=("_sale", "_purchase"))
spojene_polozky = merged[["Item", "Unit Price ($)_sale", "Unit Price ($)_purchase"]]
print(spojene_polozky)

     Item  Unit Price ($)_sale  Unit Price ($)_purchase
0   Bread                 4.99                     2.50
1   Bread                 4.99                     2.50
2    Milk                 3.99                     2.80
3   Bread                 4.99                     2.50
4   Bread                 4.99                     2.50
5     Egg                 0.40                     0.25
6    Milk                 3.99                     2.80
7   Bread                 4.99                     2.50
8   Bread                 4.99                     2.50
9   Apple                 0.60                     0.30
10  Apple                 0.60                     0.30
11    Egg                 0.40                     0.25
12   Milk                 3.99                     2.80
13  Apple                 0.60                     0.30
14  Apple                 0.60                     0.30
15  Bread                 4.99                     2.50
16  Bread                 4.99                     2.50
17    Egg                 0.40                     0.25
18   Milk                 3.99                     2.80
19  Apple                 0.60                     0.30
20  Apple                 0.60                     0.30

In [53]:
filtered = merged[merged["Unit Price ($)_sale"] >= 2 * merged["Unit Price ($)_purchase"]]
percento_prirazky = ((filtered["Unit Price ($)_sale"] - filtered["Unit Price ($)_purchase"]) / filtered["Unit Price ($)_purchase"]) * 100

print(filtered[["Item"]].assign(Percento_prirazky=percento_prirazky))

     Item  Percento_prirazky
9   Apple              100.0
10  Apple              100.0
13  Apple              100.0
14  Apple              100.0
19  Apple              100.0
20  Apple              100.0

## ⭐ Úloha 06
Prečítajte súbor CSV a zistite, ktorý dátum mal najvyšší celkový predaný objem položiek. Vytlačte dátum a celkové množstvo.

In [74]:
df = pd.read_csv("csvsample.csv")
sales = df[df["Type"] == "Sale"]
total_sales = sales.groupby("Date")["Quantity"].sum()
max_total_sales = total_sales.max()
max_total_dates = total_sales[total_sales == max_total_sales] 

print(max_total_dates)

Date
2025-11-07    125
Name: Quantity, dtype: int64

## ⭐ Úloha 07
Prečítajte poskytnutý súbor CSV pomocou pandas. Filtrujte, aby sa zobrazili iba transakcie, kde je Množstvo (Quantity) väčšie ako 100. Vytlačte výsledný dataframe.

In [6]:
df = pd.read_csv("csvsample.csv")
large_quantity = df[df["Quantity"] > 100]
large_quantity

,Date,Type,Item,Quantity,Unit Price ($),Notes
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply

## ⭐ Úloha 08
Prečítajte poskytnutý súbor CSV a vypočítajte priemernú jednotkovú cenu pre každú jedinečnú Položku (Item). Vytlačte výsledky zobrazujúce názov Položky a jej priemernú cenu.

In [11]:
df = pd.read_csv("csvsample.csv")
avg_price = df.groupby("Item")["Unit Price ($)"].mean().reset_index()
avg_price.columns = ["Item", "Average_UnitPrice"]

print(avg_price)

    Item  Average_UnitPrice
0  Apple             0.4800
1  Bread             4.1600
2    Egg             0.3625
3   Milk             3.7520

## ⭐ Úloha 09
Prečítajte poskytnutý súbor CSV a navrhnite, ktorých položiek by mal obchod nakupovať viac/menej. Odôvodnite svoje zdôvodnenie.

In [19]:
import pandas as pd

df = pd.read_csv("csvsample.csv")
quantity_purchase = df[df["Type"] == "Purchase"]
quantity_sale = df[df["Type"] == "Sale"]

total_purchase_quantity = quantity_purchase.groupby("Item")["Quantity"].sum().rename("Quantity_purchased")
total_sale_quantity = quantity_sale.groupby("Item")["Quantity"].sum().rename("Quantity_sold")
summary = pd.merge(total_purchase_quantity, total_sale_quantity, on="Item", how="outer").fillna(0)

summary["Difference"] = summary["Quantity_purchased"] - summary["Quantity_sold"]

summary["Recomendation"] = summary["Difference"].apply(
    lambda x: "Buy more" if x < 0 else ("Buy less" if x > 0 else "OK")
)

print(summary)

       Quantity_purchased  Quantity_sold  Difference Recomendation
Item
Apple                 400            185         215      Buy less
Bread                 250            115         135      Buy less
Egg                   200            160          40      Buy less
Milk                  120            160         -40      Buy more

## ⭐ Úloha 10
Prečítajte textový súbor a vytlačte len riadky, ktoré sú dlhšie ako 30 znakov.

In [11]:
with open("textsample.txt", "r", encoding="utf-8") as file:
    content = file.read()
    lines = content.split("\n")
    
    for line in lines:
        character_count = len(line)
        if character_count > 30:
        
            print(f"Riadok: '{line}' ma {character_count} znakov.")

Riadok: 'Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.' ma 136 znakov.
Riadok: '1. THE DOUGH (Active Time: approx 15 min)' ma 41 znakov.
Riadok: 'Start by activating your yeast (2.25 tsp) in 1/4 cup of warm water with a pinch of sugar. While it foams, gently melt 1/4 cup of butter into 1 cup of milk, then cool it slightly before stirring in 1/4 tsp of salt. Now, combine the yeast mixture, the milk mixture, and 1 large egg in a large bowl. Gradually add 3 to 3.5 cups of flour until a soft dough forms. Knead it for about 5 minutes until smooth, then let it rise in an oiled bowl for 1 hour.' ma 448 znakov.
Riadok: '2. THE FILLING & ASSEMBLY (Active Time: approx 10 min)' ma 54 znakov.
Riadok: 'Once the dough has doubled, punch it down and roll it into a large rectangle (around 12 in x 18 in). Spread 1/2 cup of soft butter evenly across the surface. In a separate bowl, mix 1 cup of packed brown sugar with 2 tablespoons of cinnamon, and sprinkle this rich mixture over the butter. Roll the dough up tightly from the long edge into a cylinder. Slice this log into 12 rolls and place them cut-side up in a greased 9 in x 13 in baking dish. Cover and let them rise one last time for 30 minutes.' ma 500 znakov.
Riadok: '3. BAKE AND FROST (Total Time: approx 30 min)' ma 45 znakov.
Riadok: 'Preheat your oven to 375Â°F and bake the rolls for 20 to 25 minutes until they are lightly golden brown. As they cool slightly, prepare the frosting: simply beat together 4 oz of soft cream cheese, 2 Tbsp of soft butter, 1.5 cups of powdered sugar, and 1/2 tsp of vanilla. Add a tablespoon or two of milk until the desired fluffy consistency is reached. Slather the warm rolls generously with the cream cheese frosting.' ma 419 znakov.
Riadok: 'Enjoy your incredibly soft and cinnamon-laced final product!' ma 60 znakov.

## ⭐ Úloha 11
Prečítajte textový súbor a nájdite najdlhší riadok. Vytlačte číslo riadku, obsah riadku a jeho dĺžku (počet znakov).

In [19]:
with open("textsample.txt", "r", encoding="utf-8") as file:
    content = file.read()
    lines = content.split("\n")
    
    the_longest_line = " "
    max_length = 0
    line_number = 0
    
    for i, line in enumerate(lines, start=1):
        character_count = len(line)
        if character_count > max_length:
            max_length = character_count
            the_longest_line = line
            line_number = i 
    
    print(f"The longest line is number {line_number}:")
    print(f"{the_longest_line}")
    print(f"It has {max_length} characters.")

The longest line is number 11:
Once the dough has doubled, punch it down and roll it into a large rectangle (around 12 in x 18 in). Spread 1/2 cup of soft butter evenly across the surface. In a separate bowl, mix 1 cup of packed brown sugar with 2 tablespoons of cinnamon, and sprinkle this rich mixture over the butter. Roll the dough up tightly from the long edge into a cylinder. Slice this log into 12 rolls and place them cut-side up in a greased 9 in x 13 in baking dish. Cover and let them rise one last time for 30 minutes.
It has 500 characters.